* {
  --col-large-width: 80vw;
  --col-small-width: 99vw;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.col {
  display: flex;
  border: 1px groove rgb(245, 157, 34);
  background-color: rgb(253, 213, 149);
  width: calc(var(--col-large-width) / 8);
  height: calc(var(--col-large-width) / 8);
}

div.row {
  display: flex;
  width: var(--col-large-width);
}

@media screen and (max-width: 550px) {
  div.col {
    width: calc(var(--col-small-width) / 8);
    height: calc(var(--col-small-width) / 8);
  }

  div.row {
    width: var(--col-small-width);
  }
}
